{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'miprimerapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'miprimerapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'miprimerapp/css/bootstrap-theme.min.css' %}">
</head>
<body>
    <a href="{% url 'newpost' %}">new post</a>
    <div class="jumbotron text-center">
        <h1>Noticias</h1>

    </div>
    {% block content%}
    {% endblock%}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'miprimerapp/js/bootstrap.min.js'%}"></script>
</body>
</html>